argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.11.1
autograder-py==0.6.17
beautifulsoup4==4.15.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
Django==6.0.7
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
flake8==7.3.0
gitdb==4.0.12
GitPython==3.1.46
idna==3.11
mccabe==0.7.0
platformdirs==4.9.6
pycodestyle==2.14.0
pycparser==3.0
pyflakes==3.4.0
PyJWT==2.13.0
python-dotenv==1.2.3
requests==2.33.1
smmap==5.0.3
soupsieve==2.9
sqlparse==0.5.5
typing_extensions==4.16.0
urllib3==2.6.3
